.starting {
    margin: 3rem auto;
    text-align: center;
  }
  
  .starting h1 {
    font: inherit;
    font-weight: bold;
    font-size: 4rem;
   
  }
  
  .starting h2 {
    font: inherit;
    font-weight: bold;
    font-size: 2rem;
    
  }